.header {
    padding: 60px; 
    text-align: center; 
    background-image: url("../img/pixiedust2.jpeg");
    color: white; 
  }
  

.header h1 {
    font-size: 60px;
}

.navbar {
    overflow: hidden; 
    background-color: #f6f6eb; 
  }
  
.navbar a {
    float: left;
    display: block; 
    color: black; 
    text-align: center;
    padding: 14px 30px; 
    text-decoration: none; 
}
  
.navbar a:hover {
    background-color: #FFFFD1; 
    color: teal; 
}

body {
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 16px
}

footer {
  color: white;
  background-color: #3E1305;
}

footer a {
  text-decoration: none;
  color: white; 
}

footer p {
  margin: 0;
  line-height: 1.25;
}

@media (min-width: 100px) {
  .header {
    padding: 20px;
  }
}
@media (min-width: 400px) {
  html {
    height: 100%;
  } 

  img,
  figcaption {
    max-width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
  }

  body {
    background-color: #f5fcff;
  }
}

@media (min-width: 992px) {
  body {
    background-color: #ddebf5;
  }
}