.header {
    padding: 80px; 
    text-align: center; 
    background-image: url("../img/pixiedust2.jpeg");
    color: white; 
  }
  

.header h1 {
    font-size: 60px;
}

.navbar {
    overflow: hidden; 
    background-color: #f6f6eb; 
  }
  
.navbar a {
    float: left;
    display: block; 
    color: black; 
    text-align: center;
    padding: 14px 30px; 
    text-decoration: none; 
}
  
.navbar a:hover {
    background-color: #FFFFD1; 
    color: teal; 
}

body {
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 16px
}

footer {
  color: white;
  background-color: #3E1305;
}

footer a {
  text-decoration: none;
  color: white; 
}

footer p {
  margin: 0;
  line-height: 1.25;
}